@media only screen and (max-width: 770px) {
    .h4{
        font-size: 18px!important;
    }
    .h1, .h2{
        font-size: 25px!important;
    }
  }

  @media only screen and (max-width: 600px) {
    .column{
        margin-bottom: 15px;;
    }
  }